.lds-ring {
  display: inline-block;
  position: fixed;
  top: 50vh;
  left: 50vw;
  &__first {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid rgb(232, 141, 44);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-accent) transparent transparent transparent;
  }
  &__second {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid rgb(232, 141, 44);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation-delay: -0.45s;
    border-color: var(--primary-accent) transparent transparent transparent;
  }
  &__third {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid rgb(232, 141, 44);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation-delay: -0.3s;
    border-color: var(--primary-accent) transparent transparent transparent;
  }
  &__fourth {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    margin: 8px;
    border: 8px solid rgb(232, 141, 44);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation-delay: -0.15s;
    border-color: var(--primary-accent) transparent transparent transparent;
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
