.poker-table {
  width: 100%;
  height: 100%;
  background: url("../../../../../public/img/poker-table.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.table-id {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.community {
  position: absolute;
  top: 40%;
  left: 30%;
  &__card {
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 12%;
  }
}

.actions {
  button {
    background-color: var(--primary-accent);
    color: var(--background);
    font-weight: 700;

    &.leave-table {
      color: var(--primary-accent);
      background-color: var(--background);
      border: 1px solid var(--primary-accent);
    }
  }
}

.pot {
  position: absolute;
  top: 20%;
  left: 45%;
  background-color: var(--primary-accent);
  border-radius: 8px;
  padding: 0.25rem 0.5rem;
  color: var(--background);
  font-size: 2rem;
  font-weight: 700;
}
