.c2 {
  background-image: url("../../assets/cards/2_of_clubs.png");
}
.c3 {
  background-image: url("../../assets/cards/3_of_clubs.png");
}
.c4 {
  background-image: url("../../assets/cards/4_of_clubs.png");
}
.c5 {
  background-image: url("../../assets/cards/5_of_clubs.png");
}
.c6 {
  background-image: url("../../assets/cards/6_of_clubs.png");
}
.c7 {
  background-image: url("../../assets/cards/7_of_clubs.png");
}
.c8 {
  background-image: url("../../assets/cards/8_of_clubs.png");
}
.c9 {
  background-image: url("../../assets/cards/9_of_clubs.png");
}
.c10 {
  background-image: url("../../assets/cards/10_of_clubs.png");
}
.c11 {
  background-image: url("../../assets/cards/jack_of_clubs.png");
}
.c12 {
  background-image: url("../../assets/cards/queen_of_clubs.png");
}
.c13 {
  background-image: url("../../assets/cards/king_of_clubs.png");
}
.c14 {
  background-image: url("../../assets/cards/ace_of_clubs.png");
}
.d2 {
  background-image: url("../../assets/cards/2_of_diamonds.png");
}
.d3 {
  background-image: url("../../assets/cards/3_of_diamonds.png");
}
.d4 {
  background-image: url("../../assets/cards/4_of_diamonds.png");
}
.d5 {
  background-image: url("../../assets/cards/5_of_diamonds.png");
}
.d6 {
  background-image: url("../../assets/cards/6_of_diamonds.png");
}
.d7 {
  background-image: url("../../assets/cards/7_of_diamonds.png");
}
.d8 {
  background-image: url("../../assets/cards/8_of_diamonds.png");
}
.d9 {
  background-image: url("../../assets/cards/9_of_diamonds.png");
}
.d10 {
  background-image: url("../../assets/cards/10_of_diamonds.png");
}
.d11 {
  background-image: url("../../assets/cards/jack_of_diamonds.png");
}
.d12 {
  background-image: url("../../assets/cards/queen_of_diamonds.png");
}
.d13 {
  background-image: url("../../assets/cards/king_of_diamonds.png");
}
.d14 {
  background-image: url("../../assets/cards/ace_of_diamonds.png");
}
.h2 {
  background-image: url("../../assets/cards/2_of_hearts.png");
}
.h3 {
  background-image: url("../../assets/cards/3_of_hearts.png");
}
.h4 {
  background-image: url("../../assets/cards/4_of_hearts.png");
}
.h5 {
  background-image: url("../../assets/cards/5_of_hearts.png");
}
.h6 {
  background-image: url("../../assets/cards/6_of_hearts.png");
}
.h7 {
  background-image: url("../../assets/cards/7_of_hearts.png");
}
.h8 {
  background-image: url("../../assets/cards/8_of_hearts.png");
}
.h9 {
  background-image: url("../../assets/cards/9_of_hearts.png");
}
.h10 {
  background-image: url("../../assets/cards/10_of_hearts.png");
}
.h11 {
  background-image: url("../../assets/cards/jack_of_hearts.png");
}
.h12 {
  background-image: url("../../assets/cards/queen_of_hearts.png");
}
.h13 {
  background-image: url("../../assets/cards/king_of_hearts.png");
}
.h14 {
  background-image: url("../../assets/cards/ace_of_hearts.png");
}
.s2 {
  background-image: url("../../assets/cards/2_of_spades.png");
}
.s3 {
  background-image: url("../../assets/cards/3_of_spades.png");
}
.s4 {
  background-image: url("../../assets/cards/4_of_spades.png");
}
.s5 {
  background-image: url("../../assets/cards/5_of_spades.png");
}
.s6 {
  background-image: url("../../assets/cards/6_of_spades.png");
}
.s7 {
  background-image: url("../../assets/cards/7_of_spades.png");
}
.s8 {
  background-image: url("../../assets/cards/8_of_spades.png");
}
.s9 {
  background-image: url("../../assets/cards/9_of_spades.png");
}
.s10 {
  background-image: url("../../assets/cards/10_of_spades.png");
}
.s11 {
  background-image: url("../../assets/cards/jack_of_spades.png");
}
.s12 {
  background-image: url("../../assets/cards/queen_of_spades.png");
}
.s13 {
  background-image: url("../../assets/cards/king_of_spades.png");
}
.s14 {
  background-image: url("../../assets/cards/ace_of_spades.png");
}
.cover {
  background-image: url("../../assets/cards/cover.png");
}
