.table-picker {
  box-shadow: inset -5px -5px 7px var(--primary-accent-400),
    inset 2px 2px 2px var(--primary-accent-100);
  border: 1px solid var(--primary-accent-100);
  border-radius: 8px;
  max-width: 300px;
  &__label {
    font-weight: 500;
    span {
      color: var(--primary-accent);
    }
  }
  &__button {
    border-radius: 10px;
    border: 1px solid var(--font-primary);
    color: var(--background);
    font-weight: 500;
    background-color: var(--primary-accent-100);
    &:focus {
      border-color: var(--primary-accent);
      box-shadow: inset -5px -5px 7px var(--primary-accent-400),
        inset 2px 2px 2px var(--primary-accent-100);
    }
  }
}
