@import "../../cards.scss";

.player {
  position: absolute;
  background-color: var(--primary-accent-200);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  width: 20%;
  box-shadow: 1px 1px 1px var(--font-primary),
    inset 1px 1px 1px var(--secondary-accent);

  &__bet {
    position: absolute;
  }
  .dealer-token {
    width: 20%;
    aspect-ratio: 1/1;
    position: absolute;
    background: url(../../../../../public/img/dealer.png);
    background-size: contain;
    background-repeat: no-repeat;
    top: 150%;
  }

  &.position0 {
    left: 10vw;
    top: 0;
    .player__bet {
      left: 80%;
      top: 220%;
    }
    .dealer-token {
    }
  }

  &.position1 {
    left: 50vw;
    top: 0;
    .player__bet {
      top: 220%;
    }
  }

  &.position2 {
    left: 60vw;
    top: 12.5vw;
    .player__bet {
      left: -25%;
    }
  }

  &.position3 {
    left: 50vw;
    top: 25vw;
    .player__bet {
      top: -80%;
    }
  }

  &.position4 {
    left: 10vw;
    top: 25vw;
    .player__bet {
      top: -80%;
      left: 80%;
    }
  }
  &.position5 {
    left: 0%;
    top: 12.5vw;
    .player__bet {
      left: 100%;
    }
  }

  &__avatar {
    box-shadow: 2px 2px 2px var(--font-primary);
  }
  &__name {
    color: var(--secondary-accent);
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__chips {
    color: var(--secondary-accent);
    font-weight: 700;
    font-size: 1rem;
  }
  &__action {
    color: var(--primary-accent);
    text-shadow: var(--font-primary);
    font-weight: 900;
    font-size: 2rem;
  }
  &__card {
    background-size: 400%;
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    width: 4rem;
    height: 8rem;
    left: 20%;

    &:nth-child(2) {
      left: 35%;
      transform: rotate(20deg);
    }
  }
  &__bet {
    span {
      color: var(--secondary-accent);
      font-weight: 900;
      font-size: 1.25rem;
    }
    &__chips {
      background-image: url(../../../../../public/img/chips.png);
      width: 2rem;
      height: 3rem;
      background-size: contain;
    }
  }
}
