@import "../../cards.scss";

.player {
  position: absolute;
  &__bet {
    position: absolute;
  }
  .dealer-token {
    width: 50px;
    height: 50px;
    position: absolute;
    background: url(../../../../../public/img/dealer.png);
    background-size: contain;
    top: 150%;
  }

  &.position0 {
    left: 25%;
    top: 10%;
    .player__bet {
      left: 60%;
      top: 150%;
    }
    .dealer-token {
    }
  }

  &.position1 {
    left: 50%;
    top: 10%;
    .player__bet {
      left: 60%;
      top: 150%;
    }
  }

  &.position2 {
    left: 75%;
    top: 40%;

    .player__bet {
      left: -25%;
    }
  }

  &.position3 {
    left: 50%;
    top: 65%;
    .player__bet {
      top: -80%;
    }
  }

  &.position4 {
    left: 25%;
    top: 65%;
    .player__bet {
      top: -80%;
    }
  }
  &.position5 {
    left: 0%;
    top: 40%;
    .player__bet {
      left: 100%;
    }
  }

  background-color: var(--primary-accent-200);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  width: 15rem;
  height: 5rem;
  box-shadow: 1px 1px 1px var(--font-primary),
    inset 1px 1px 1px var(--secondary-accent);
  &__avatar {
    box-shadow: 2px 2px 2px var(--font-primary);
  }
  &__name {
    color: var(--secondary-accent);
    font-weight: 700;
    font-size: 1.25rem;
  }
  &__chips {
    color: var(--secondary-accent);
    font-weight: 700;
    font-size: 1rem;
  }
  &__action {
    color: var(--primary-accent);
    text-shadow: var(--font-primary);
    font-weight: 900;
    font-size: 2rem;
  }
  &__card {
    background-size: 400%;
    // background-repeat: no-repeat;
    width: 2rem;
    height: 4rem;
  }
  &__bet {
    span {
      color: var(--secondary-accent);
      font-weight: 900;
      font-size: 1.25rem;
    }
    &__chips {
      background-image: url(../../../../../public/img/chips.png);
      width: 2rem;
      height: 3rem;
      background-size: contain;
    }
  }
}
