* {
  font-family: Nunito;
}
/*SCROLLBAR*/
html {
  --scrollbarBG: #38383800;
  --thumbBG: #ff5100;
}
body::-webkit-scrollbar {
  width: 15px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

a {
  text-decoration: none;
  color: #ff5100;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}
section {
  padding-top: 5%;
}
/* BET COMPONENT */
.bet_component_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.bet_component {
  min-height: 70vh;
  padding: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* BETLISTVIEW */
.show {
  position: fixed;
  left: 0;
  transition: all 1s;
}
.hide {
  transform: translateX(-160px);
  transition: all 1s;
}
.fixed {
  position: fixed;
  top: 30%;
}
.showMarkets {
  position: fixed;
  transform: translateY(100px);
  text-orientation: mixed;
  transition: all 1s;
  padding: 10px;
  font-size: 1.2em;
  border-radius: 0px 20px 20px 0px;
  background-color: #ff5100;
  color: #383838;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.fa-arrow-left {
  transition: all 0.5s;
}

.flag_icon {
  width: 20px;
}
.market_buttons {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}
.market_type_buttons {
  left: 20%;
}
.market_type_buttons button {
  display: inline;
  width: 100px;
}
.market_buttons_button,
.login_submit {
  transition: all 0.8s;
  font-weight: 900;
  width: 150px;
  display: flex;
  justify-content: space-between;
  background-color: #383838;
  color: #ff5100;
  border-radius: 1%;
}
.market_button_focused,
.login_submit:hover,
.market_buttons button:hover {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: #ff5100;
  font-weight: 900;
  width: 150px;
  color: #383838;
  border-top-color: #ff5100;
  border-left-color: #1a1a1a;
}
.betlist_container {
  margin-right: 5%;
  display: flex;
}

.bet_buttons {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);

  background-color: #1a1a1a6c;
  border-radius: 10px;
  width: 100%;
}
@keyframes coming_from_left {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.bet_buttons_row td {
  padding-left: 2%;
  padding-right: 2%;
}
.bet_buttons th {
  color: #ff5100;
}
.bet_buttons_row {
  background-color: #000000;
  color: #f2f2f2;
  margin: 0;
}
.bet_buttons_row:hover {
  background-color: #ff5100;
  color: #000000;
}
.button_odd {
  border: none;
  background: #2e2e2e;
  color: #f2f2f2;
}
.button_odd_clicked,
.button_odd:hover {
  border: none;
  color: #000000;
  cursor: pointer;
  background: #ff5100;
}
.live {
  color: #ff0000;
  font-weight: 600;
  border: 1px solid #ff5100;
  background-color: #000000;
  margin: 5px;
  animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear infinite 2000ms, liveAnim 30s infinite;
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #ff5100;
  }
}
@keyframes liveAnim {
  0% {
    background-color: #000000;
    border: 1px solid #ff5100;
    color: #ff0000;
  }
  25% {
    background-color: #ff5100;
    border: 1px solid #ffffff;
    color: #ffffff;
  }
  50% {
    background-color: #224d00;
    border: 1px solid #ff5100;
    color: #ff5100;
  }
  75% {
    background-color: #ff5100;
    border: 1px solid #000000;
    color: #000000;
  }
}
.row_live {
  background-color: #224d00;
}
/* TOTAL COMPONENT */
@keyframes superglow {
  50% {
    background-color: #ff5100;
    color: #383838;
  }
}
.show_total_container_btn {
  animation: glow 1s linear;
  background: none;
  border-color: #ff5100;
  color: #ff5100;
  font-weight: 900;
  font-size: 1.2em;
}
.total_container {
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #ff51001e;
  border-top: 1px solid #ff51001e;
  border-left: 1px solid #ff51001e;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  height: fit-content;
}
.total_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid #ff5100;
  color: #f2f2f2;
}
.total_item_match {
  display: flex;
  flex-direction: column;
}
.del_button {
  background: none;
  border: none;
}
.fa-trash {
  color: #ff5100;
}
.del_button:hover {
  background-color: black;
}

.bet_item_dates {
  text-align: center;
  font-size: 11px;
}
.live_tick {
  animation: tick 2s infinite;
}
@keyframes tick {
  0% {
    color: #f2f2f2;
  }
  50% {
    color: #f2f2f200;
  }
}
.bet_item_teams {
  text-align: center;
}
.result {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 900;
}
.odd {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  color: #ff5100;
  font-weight: 900;
}
.input_section {
  display: flex;
}
.input_number {
  margin-top: 1em;

  font-weight: 900;
  padding: 0.5em;
  border: none;
  color: #ff5100;
  height: fit-content;
  min-width: 2em;
  max-width: 4em;
  text-align: end;
  font-size: 1.5em;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.place_bet_button {
  margin-top: 1em;
  height: fit-content;
  border-radius: 0 10px 10px 0;
  font-weight: 900;
  font-size: 1.5em;
  padding: 0.5em;
  flex: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: #2e2e2e;
  border: none;
  color: #ff5100;
}
.place_bet_button:hover {
  cursor: pointer;
  background-color: #ff5100;
  color: #802400;
  text-shadow: 3px 2px 3px rgba(255, 136, 0, 0.2);
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2);
}
.bet_mutliplier {
  color: #ff5100;
  font-size: larger;
}
.max_win {
  margin: 0;
  background: #ff5100;
  text-shadow: 3px 2px 3px rgba(#2e2e2e7c);
  color: #383838;
  font-size: 2rem;
}
.checkout {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

/* LOGIN COMPONENT */

.login_component {
  width: 100%;
  height: 100vh;
}
.login_component_container {
  height: 70%;
  display: grid;
  place-items: center;
}
.login_title {
  animation: coming_from_left 0.5s linear;

  border-top: 1px solid #ff5100;
  font-size: larger;
  font-weight: 700;
  color: #ff5100;
  text-align: left;
  padding-left: 10%;
  width: 90%;
}

.login_component input {
  color: #ff5100;
  height: 50px;
  width: 250px;
  border: 1px solid #ff510096;
  font-size: 1.5em;
}
@keyframes appear {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
.label {
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 900;
  top: 20px;
  animation: appear linear 0.2s;
  display: block;
  color: #ff5100;
}
.hidden {
  display: none;
}
.login_component input:focus {
  box-shadow: #ff5100 0px 0px 10px;
  height: 50px;
  width: 250px;
}
.login_buttons {
  width: 250px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.login_submit {
  height: 25px;
}
.register_link {
  color: #ff5100;
}
.errors {
  text-align: center;
  padding: 0;
}
.errors li {
  font-weight: 700;
  font-size: 1.3em;
  padding: 0;
  color: #ff0000;
  list-style: none;
}
/* NAVBAR COMPONENT */
.navbar {
  position: fixed;
  display: flex;
  width: 90%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #ff51001e;
  color: #ff5100;
  backdrop-filter: blur(5px);
  z-index: 100;
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: #000000 0px 0px 20px 1px;
  transition: 0.25s ease-in;
  overflow: hidden;
}
.navbar:hover {
  box-shadow: none;
}
.logo {
  text-decoration: none;
  color: #ff5100;
  font-weight: 1100;
  font-size: 1.5em;
}
.fa-futbol {
  transition: all 1s;
}
@keyframes rotate {
  30% {
    transform: rotate(360deg);
  }
}
@keyframes background-glow {
  70% {
    text-shadow: 4px 4px #ff8e5a5d;
  }
}
.infinite {
  color: #ff51005e;
  position: absolute;
  top: 35%;
  left: 40%;
  font-size: 15em;
  font-weight: 100;
  z-index: 1000;
  animation: rotate 2s infinite, background-glow 1s infinite;
}
.logo:hover .fa-futbol {
  transform: rotate(720deg);
}
.fa-sticky-note {
  color: #f2f2f26c;

  position: absolute;
  z-index: -1;
  font-size: 1.5em;
  top: 0;
  transform: rotate(-150deg) translateX(0.8em) translateY(-0.5em);
}
.fas.fa-sticky-note {
  font-size: 1.2em;
  transform: rotate(-60deg) translateY(-0.2em) translateX(-0.2em);
}
.nav_items_list {
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 100%;
}

.nav_item {
  display: flex;
  align-items: center;
  padding: 0 5%;
  background: rgba(53, 53, 53, 0);
  background: linear-gradient(
    0deg,
    rgba(53, 53, 53, 1) 50%,
    rgba(255, 81, 0, 0) 50%
  );
  text-shadow: 3px 2px 3px rgba(53, 53, 53, 0.2);
  background-size: 400% 400%;
  transition: 0.25s ease-in;
  font-weight: 900;
  white-space: nowrap;
}
.nav_item_link {
  color: #f2f2f2;
  text-decoration: none;
  transition: 0.25s ease-in;
}

.nav_item:hover {
  background-position: 0% 100%;
}
.nav_item:hover .nav_item_link {
  color: #ff5100;
}

/* YOUR TICKETS COMPONENT */
.tickets_component {
  width: 100%;
}
.filter_buttons {
  display: flex;
  justify-content: center;
}
.tickets_container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: grid;
  grid-gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ticket_table {
  border-radius: 10px;
  box-shadow: #000000 0px 0px 20px 1px;

  border: 3px solid #ff5100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticket_table tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bet_item {
  color: #ff5100;
}
.ongoing {
  background-color: bisque;
}
.lost {
  background-color: #ff0000;
}
.won {
  background-color: #26b821;
}
.green {
  font-weight: bolder;
  color: #26b821;
}
.red {
  font-weight: bolder;
  color: #ff0000;
}
.white {
  font-weight: bolder;
  color: #f2f2f2;
}
.ticket_checkout {
  background-color: #ff5100;
}
/* MODAL */
.modal {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  padding-top: 80px;
}
.modal-content {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #ff51001e;
  border-top: 1px solid #ff51001e;
  border-left: 1px solid #ff51001e;
  backdrop-filter: blur(5px);
  width: 70%;
  max-width: 640px;
  height: fit-content;
  min-height: 15em;
  margin: auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  border-radius: 20px;
  animation: coming_from_top cubic-bezier(0.8, 0.1, 0.5, 1.21) 1.8s;
}
@keyframes coming_from_top {
  0% {
    transform: translateY(-100vh);
  }
  40% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12%);
  }
  60% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-8%);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0%);
  }
}
.modal-content h2 {
  position: absolute;
  top: -0.5em;
  left: 30px;
  font-size: 3.5em;
  color: #ff51006c;
  pointer-events: none;
  animation: glow 3s infinite;
}
.modal-content h3 {
  animation: glow 3s infinite;

  font-size: 2.5em;
  color: #ff5100c2;
}
.modal-content p {
  font-size: 1.5em;
  color: #f2f2f2;
  font-weight: 700;
}
.modal_error_status {
  animation: glow 3s infinite;

  position: absolute;
  z-index: -1;
  top: -1.2em;
  right: -0.1em;
  font-size: 15em;
  color: #ff510098;
}
.modal-content p span {
  color: #ff5100;
}
/* Close button */
.close {
  color: #f2f2f2;
  position: absolute;
  right: 30px;
  top: -1.6em;
  font-size: 3.5em;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #ff5100;
  text-decoration: none;
  cursor: pointer;
}
/* FOOTER */
.footer {
  display: grid;
  place-items: center;
  background-color: #00000034;
  backdrop-filter: blur(5px);
  box-shadow: -20px -10px 50px rgba(0, 0, 0, 0.5);
}
.footer_list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
}
.warning {
  animation: glow 2s infinite;
  font-size: 1.2em;
  color: #ff5100;
}
.foot_item {
  color: #ff5100;
  border-bottom: 1px solid #ff5100;
  font-weight: 700;
  font-size: 1.5em;
  list-style-type: none;
}
.foot_item a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  color: #f2f2f2;
}
.foot_item a:visited {
  color: #f2f2f2;
}
.foot_item a:hover {
  color: #ff5100;
}
/* CREDITS COMPONENT */
.credits_component {
  width: 100%;
}

.credits_card {
  overflow: show;
  margin: 10px;
  padding: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background-color: #2e2e2e81;
  border-left: 1px solid #5e5e5e;
  border-top: 1px solid #2e2e2e;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  max-width: 300px;
  height: fit-content;
}
.tech_cont {
  position: relative;
}
.tech_logo {
  max-width: 250px;
  max-height: 250px;
  position: absolute;
  top: -25%;
  left: -15%;
  z-index: -1;
  opacity: 0.7;
}
.tech_cont a,
.tech_cont a:visited {
  font-size: 1.5em;
  color: #ff5100;
  text-decoration: none;
}
.tech_cont a:hover {
  font-size: 1.5em;
  color: #ff5100;
  animation: glow 1s infinite;
}
.tech_cont p {
  color: #f2f2f2;
  font-weight: 700;
}
/* ABOUT ME */
.profile_pic {
  overflow: hidden;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  float: left;
  shape-outside: circle(50%);
}

.profile_pic:hover .flip-card-inner,
.profile_pic:focus .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-inner {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.about_me {
  margin: auto;
  width: 70%;
}
.about_me h1 {
  color: #ff5100;
  font-size: 1.5em;
  width: 70%;
}
.about_me h1:before {
  position: absolute;
  transform: translateX(-8.5em) translateY(1em);
  z-index: -1;
  content: "";
  height: 2px;
  width: 200px;
  background-color: #ff5100;
}
.about_me p {
  text-align: left;
  color: #f2f2f2;
  font-weight: 900;
}
@media screen and (min-width: 320px) and (max-width: 720px) {
  .logo {
    font-size: 0.6em;
  }
  .total_container {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    border: 0;
  }
  .market_buttons {
    margin: auto;
  }
  .betlist_container {
    margin-top: 20%;
  }
  .bet_component {
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
    max-width: 99vw;
  }

  .bet_item_dates {
    overflow: hidden;
  }
  .bet_item_teams {
    font-size: 0.8em;
    text-align: left;
    padding: 0;
    margin: 0;
    max-width: 120px;
  }
  .button_odd,
  .button_odd_clicked {
    padding: 1%;
  }

  .login_title {
    margin-top: 20%;
  }
  .infinite {
    position: fixed;
    top: 40%;
    left: 15%;
  }
  .modal_content {
    border-radius: 10px;
    background-color: #2e2e2e81;
    backdrop-filter: blur(10px);
  }
}
/*RANKING CONTAINER*/
.ranking_container {
  margin: auto;
  color: #f2f2f2;
  font-weight: 900;
}
.ranking_container {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ranking_container table td:first-child {
  color: #5a5a5a;
  border-bottom: 1px solid #ff5100;
  font-weight: 900;
}
.ranking_container::-webkit-scrollbar {
  width: 15px;
}
.ranking_container {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.ranking_container::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.ranking_container::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.ranking_container::-webkit-scrollbar-arrow {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
/* Scrollbar style for Chrome */
/* Buttons */
::-webkit-scrollbar-button {
  border-style: solid;
  height: 16px;
  width: 16px;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #404040 transparent;
}

::-webkit-scrollbar-button:vertical:decrement:hover {
  border-color: transparent transparent #505050 transparent;
}

/* Down */
::-webkit-scrollbar-button:vertical:increment {
  border-width: 14px 7px 0 7px;
  border-color: #404040 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover {
  border-color: #505050 transparent transparent transparent;
}

/* Left */
::-webkit-scrollbar-button:horizontal:decrement {
  border-width: 7px 14px 7px 0;
  border-color: transparent #404040 transparent transparent;
}

::-webkit-scrollbar-button:horizontal:decrement:hover {
  border-color: transparent #505050 transparent transparent;
}

/* Right */
::-webkit-scrollbar-button:horizontal:increment {
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #404040;
}

::-webkit-scrollbar-button:horizontal:increment:hover {
  border-color: transparent transparent transparent #505050;
}
