.slot {
  perspective: 2000px;
  &__background {
    height: 480px;
    z-index: 100;
    position: relative;
  }

  &__name,
  &__sum {
    border-radius: 10px;
    text-shadow: 1px 1px var(--primary-accent);
    z-index: 1000100;
  }
  &__name {
    font-size: 3em;
  }
  &__sum {
    font-size: 4em;
  }
  &__wheel {
    position: absolute;
    transform-style: preserve-3d;
    height: 110px;
    transition: all 0.5s;
    top: 180px;
    &__img {
      width: 20vw;
      max-width: 192px;
      height: 110px;
      position: absolute;
      z-index: 10001;
      background-color: var(--background);

      &.animate {
        animation: bgAnimate 0.5s infinite;
      }
    }
  }
  &__spin {
    color: transparent;
    width: 25%;
    height: 72px;
    position: absolute;
    z-index: 1001;
    bottom: 22%;
    border-radius: 10px;
    left: 40%;
    &:hover {
      box-shadow: inset 1px 1px 50px var(--primary-accent);
    }
  }
}

@keyframes bgAnimate {
  from {
    background-color: var(--background);
  }
  to {
    background-color: var(--primary-accent);
  }
}
